<h1>Coupon Form</h1>
<%= form_tag(coupons_path, method: "POST") do %>
  <pre>
  <%= text_field_tag :'coupon[coupon_code]', nil, id: "coupon_code", placeholder: "Coupon Code" %>
  <%= text_field_tag :'coupon[store]', nil, id: "store", placeholder: "Store" %>
  <%= submit_tag "Submit Coupon" %>
  </pre>
<% end %>
